section#txt01{
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.473);
    background: white;
    text-align: center;
    padding: 30px;
    font: normal 16pt arial;
    margin-left: center;
    
}
section#txt02{
    justify-content: center;
    background: white;
    padding: 10px;
    width: 545px;
    color: black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.473);
    text-align: center;
    margin-top: 13px;
}
section{
    text-decoration: none;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-left: left;
    color: black;
    text-align: center;
}
body{
    background-color: rgb(70, 142, 236);
    font: normal 20px ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font: normal 30pt arial;
    text-align: center;
    text-shadow: 3px 3px 10px black;
    color: white;
}
h2{
    font: normal 18pt arial;
}

footer#HenriqueSilva{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.638);
}


input#num01{
    width: 170px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}
input#num02{
    width: 170px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}
input#variavel1{
    width: 170px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}
input#variavel2{
    width: 170px;
    height: 20px;
    text-align: center;
    border-radius: 10px;

}
div#ruleOfThree{
    margin-top: 15px;
    color: #468eec;
}
/* -------------------Botôes de resolver e limpar------------------*/

button#botão {
    margin-top: 20px;
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(18, 18, 18, 0.155);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
button#botão:hover {
    background-color: rgb(240, 241, 244);
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
    color: #000000;
    transform: translateY(-7px);
}

button#botão:active {
    transform: translateY(-1px);
}
